<div class="container-fluid">

    <div class="row" id="topbar">
        <div class="col-12 col-md-7 col-lg-3 col-xl-3">
            <img src="assets/images/logo7.jpg" alt="" class="logo">
        </div>
        <div class="col-12 col-md-5 col-lg-3 col-xl-3" id="search">

            <input type="text" placeholder="Αναζήτηση..." name="search1" autocomplete="off" #search>
            <button (click)="doSearch(search.value)"><i class="fa fa-search"></i></button>

        </div>
        <div class="col-7 col-sm-4 col-md-3 col-lg-2 col-xl-2" id="support">
            <div id="headphones">
                <i style="color:#681716" class="fas fa-headphones-alt"></i>
            </div>
            <div id="support-text">Free Support 24/7<br>+30-210-7455888</div>
        </div>
        <div class="col-5 col-sm-3 col-md-3 col-lg-1 col-xl-2" id="login">
            <a routerLink="/admin">
                <button type="button" class="btn btn-outline-dark">
                Login
                </button></a>
        </div>
        <div class="col-12 col-sm-5 col-md-6 col-lg-3 col-xl-2" id="cart">
            <cart-summary></cart-summary>
        </div>
    </div>


    <nav class="navbar navbar-expand-md navbar-dark bg-maroon">
        <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" [class.active]="selectedHome == true"
                        (click)="showHome()">Αρχική</a>
                </li>
                <li *ngFor="let cat of categories" class="nav-item">
                    <a [className]="'nav-link'" [class.active]="cat == selectedCategory"
                        (click)="showCategory(cat)">
                        {{cat}}
                    </a>
                </li>
            </ul>
        </div>
    </nav>


    <div *ngIf="searchResults != null" class="row mt-2 min-vh-100">
        <div class="col-12">
            <p *ngIf="searchResults.length == 1">Βρέθηκε {{ searchResults.length }} αποτέλεσμα: </p>
            <p *ngIf="searchResults.length > 1">Βρέθηκαν {{ searchResults.length }} αποτελέσματα: </p>
            <p class="mb-5 pb-5" *ngIf="searchResults.length == 0">Δεν βρέθηκαν αποτελέσματα.</p>
            <div class="row">
                <div *ngFor="let product of searchResults" 
                     class="col-6 col-md-4 col-lg-3 col-xl-3 booksResults">
                    <img src="{{ product.imagePath }}" alt="image">
                    <h4>{{product.name}}</h4>
                    <div>{{product.author}}</div>
                    <div class="badge badge-pill badge-danger">
                        {{ product.price | currency:"EUR":"symbol" }}
                    </div>
                    <div class="card-text bg-white p-1">
                        <button class="btn btn-dark btn-sm" (click)="addProductToCart(product)">
                            Προσθήκη στο καλάθι
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div *ngIf="selectedHome == true" class="row">
        <div class="col-12">
            <img src="assets/images/home/bookstore.jpg" alt="" class="bookstore">
        </div>
        <div class="col-12">
                <img src="assets/images/home/bookstore2.jpg" alt="" class="bookstore">
            </div>
    </div>
    

    <div *ngIf="selectedCategory != null" class="row">
        <div class="col-12 col-md-9 col-lg-9 col-xl-9">

            <div class="row">
                <div class="col-12" style="margin:1rem auto;">
                    <div class="form-inline float-left">
                        <select class="form-control" [value]="productsPerPage"
                            (change)="changePageSize($event.target.value)">
                            <option value="8">8 ανά σελίδα</option>
                            <option value="16">16 ανά σελίδα</option>
                            <option value="24">24 ανά σελίδα</option>
                            <option value="32">32 ανά σελίδα</option>
                        </select>
                    </div>
                    <div class="btn-group float-left ml-2" id="pageBtn">
                        <button *counter="let page of pageCount" (click)="changePage(page)"
                            class="btn" [class.active]="page == selectedPage">
                            {{page}}
                        </button>
                    </div>
                    <h3 class="float-left ml-4 mt-2">{{ selectedCategory }}</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div *ngFor="let product of products" class="col-6 col-md-4 col-lg-3 col-xl-3 books"
                            style="padding: 0.8rem;">
                            <img src="{{ product.imagePath }}" alt="image">
                            <h4>{{product.name}}</h4>
                            <div>{{product.author}}</div>

                            <div class="badge badge-pill badge-danger">
                                {{ product.price | currency:"EUR":"symbol" }}
                            </div>
                            <div class="card-text bg-white p-1">
                                <button class="btn btn-dark btn-sm" (click)="addProductToCart(product)">
                                    Προσθήκη στο καλάθι
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-0 col-md-3 col-lg-3 col-xl-3" id="sidebar-container">
            <div id="sidebar">
                <h3 style="padding-bottom: 0.4rem; border-bottom: 1px solid #ccc;">Bestsellers</h3>

                    <div class="row">
                        <div class="col-6 col-md-12">
                            <img src="assets/images/bestsellers/to-dwro.jpg" alt="">
                            <div>Το Δώρο<br>Στέφανος Ξενάκης</div>
                        </div>

                        <div class="col-6 col-md-12">
                            <!-- <img src="assets/images/bestsellers/20-bimata-mprosta.jpg" alt=""> -->
                            <img src="assets/images/bestsellers/20-bimata-mprosta.jpg" alt="">
                            <div>20 βήματα μπροστά<br>Jorge Bucay</div>
                        </div>

                        <div class="col-6 col-md-12 col-lg-12 col-xl-12">
                            <img src="assets/images/bestsellers/i-siopili-asthenis.jpg" alt="">
                            <div>Η Σιωπηλή Ασθενής<br>Alex Michaelides</div>
                        </div>

                        <div class="col-6 col-md-12 col-lg-12 col-xl-12">
                            <img src="assets/images/bestsellers/taksidi-sti-benetia.jpg" alt="">
                            <div>Ταξίδι στην Βενετία<br>Λένα Μαντά</div>
                        </div>

                        <div class="col-6 col-md-12 col-lg-12 col-xl-12">
                            <img src="assets/images/bestsellers/syntomes-apantiseis.jpg" alt="">
                            <div>Σύντομες απαντήσεις στα μεγάλα ερωτήματα<br>Stephen Hawking</div>
                        </div>
                    </div>

            </div>
        </div>

    </div>

    <div id="snackbar">Το βιβλίο προστέθηκε στο καλάθι με επιτυχία!</div>

    <app-footer></app-footer>

</div>
