h3 {
    font-size: 1.3rem;
}
#topbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #fff; 
    color: #333;
    text-align: center;
    margin-bottom: 1.5rem;
}
.logo {
    width: 70%;
    margin: 0.8rem;
}
a {
    color:#333;
}
a:hover {
    text-decoration: none;
    color:#999;
}
.form-control::placeholder  {
    font-family: FontAwesome;
}
#search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}
#search input[type=text] {
    padding: 7px;
    font-size: 15px;
    border: 1px solid #681716;
    float: left;
    width: 60%;
    background: #fff;
}
#search button {
    float: left;
    width: 20%;
    padding: 7px;
    background: #681716;
    color: white;
    font-size: 15px;
    border: 1px solid #681716;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}
#search button:hover {
    background: #ad3633;
}
/* Clear floats */
#search::after {
    content: "";
    clear: both;
    display: table;
}
#support {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}
#headphones{
    display: inline-block;
    font-size: 1.8rem;
}
#support-text{
    text-align: center;
    margin-left: 6px;
    font-size: 0.9rem;
}
#login {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}
#login .btn {
    white-space: nowrap;
}
#sidebar-container {
    padding-top: 1rem; 
    text-align:center;
}
#sidebar {
    color:#444; 
    margin: 0.6rem; 
    padding: 0.6rem; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    line-height: 1.2;
}
#sidebar img {
    width: 90%;
    margin-top: 1.8rem;
}
.bg-maroon {
    background-color: #681716;
}
.navbar {
    padding: 0;
}
.navbar-expand-md .navbar-nav {
    flex-direction: row;
    flex-wrap: wrap;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
    cursor:pointer;
    padding-right: .6rem;
    padding-left: .6rem;
    border-top: 1px solid #681716;
    border-left: 1px solid #681716;
    border-bottom: 1px solid #681716;
}
.navbar-dark .navbar-nav .nav-link.active {
    background-color: #fff;
    color: #681716;
}
.navbar-dark .navbar-nav .nav-link:hover {
    background-color: #fff;
    color: #681716;
}
.bookstore {
    width: 100%;
    margin-top: 20px;
}
#pageBtn button {
    border: 1px solid #681716;
    color:#333;
    box-shadow: none;
    background-color: #fff;
}
#pageBtn button.active {
    background-color: #681716;
    color:#fff;
}
.booksResults {
    margin-bottom: 1.4rem;
}
.booksResults img {
    width: 100%;
    margin-bottom: 0.5rem;
}
.booksResults h4 {
    font-size: 18px;
}
.books img {
    width: 100%;
    margin-bottom: 0.5rem;
}
.books h4 {
    font-size: 18px;
}
.btn {
    white-space: pre-wrap;
}
.badge {
    padding: .35em .4em;
    font-size: 85%;
}
#snackbar {
    visibility: hidden; 
    /* min-width: 250px; */
    /* margin-left: -125px; */
    width: 30%;
    background-color: #681716;
    color: #fff;
    text-align: center;
    border-radius: 2px; 
    padding: 6px 12px; 
    position: fixed; 
    z-index: 1;
    width: 60%;
    left: 20%; 
    bottom: 30px; 
}


@media only screen and (min-width: 576px) {
    .logo {
        width: 60%;
    }
    #search input[type=text] {
        width: 60%;
    }
    #search button {
        width: 20%;
    }
    #support {
        margin-bottom: 0;
    }
    #login {
        margin-bottom: 0;
    }
    .booksResults img {
        width: 90%;
    }
    .books img {
        width: 90%;
    }
    #sidebar img {
        width: 80%;
    }
    #snackbar {
        width: 50%;
        left: 25%; 
    }
}

@media only screen and (min-width: 768px) {
    #topbar {
        text-align: left;
        margin-bottom: 20px;
    }
    .logo {
        width: 70%;
    }
    #search {
        margin-bottom: 0;
    }
    #search input[type=text] {
        width: 80%;
    }
    #search button {
        width: 20%;
    }
    .navbar-expand-md .navbar-nav {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: .7rem;
        padding-left: .7rem;
    }
    #sidebar img {
        width: 90%;
    }
    #snackbar {
        width: 40%;
        left: 30%; 
    }
}
@media only screen and (min-width: 992px) {
    #topbar {
        margin-bottom: 0;
    }
    .logo {
        width: 90%;
    }
    #search input[type=text] {
        width: 70%;
    }
    #search button {
        width: 15%;
    }
    #sidebar img {
        width: 80%;
    }
    #snackbar {
        width: 36%;
        left: 32%; 
    }
}
@media only screen and (min-width: 1200px) {
    #topbar {
        text-align: left;
    }
    .logo {
        width: 80%;
    }
    #sidebar img {
        width: 70%;
    }
    .booksResults img {
        width: 80%;
    }
    #snackbar {
        width: 30%;
        left: 35%; 
    }
}
  
#snackbar.show {
    visibility: visible; 
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}
@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}
@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}
@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}
