h3 {
    font-size: 1.5rem;
}
.table th {
    padding: .3rem;
    font-size: 0.9rem;
}
.table td {
    padding: .3rem;
    font-size: 0.9rem;
}
.col {
    padding-right: 0;
    padding-left: 0;
}
.form-control-sm {
    padding: .1rem .2rem;
}
table .btn, table .btn-sm {
    padding: .1rem .2rem;
    font-size: .6rem;
}

@media only screen and (min-width: 576px) {
    .col {
        padding-right: 15px;
        padding-left: 15px;
    }
    .form-control-sm {
        padding: .25rem .5rem;
    }
}

@media only screen and (min-width: 768px) {
    h3 {
        font-size: 1.75rem;
    }
    .table th {
        padding: .4rem;
        font-size: 1rem;
    }
    .table td {
        padding: .4rem;
        font-size: 1rem;
    }
    table .btn, table .btn-sm {
        padding: .2rem .4rem;
        font-size: .8rem;
    }
}