h3 {
    font-size: 1.5rem;
}
.table th {
    padding: .3rem;
    font-size: 0.9rem;
}
.table td {
    padding: .3rem;
    font-size: 0.9rem;
}
.col {
    padding-right: 0;
    padding-left: 0;
}

@media only screen and (min-width: 576px) {
    .col {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media only screen and (min-width: 768px) {
    h3 {
        font-size: 1.75rem;
    }
    .table th {
        padding: .75rem;
        font-size: 1rem;
    }
    .table td {
        padding: .75rem;
        font-size: 1rem;
    }
}