<div class="container-fluid">

    <div class="row">
      <div class="col bg-dark text-white p-2">
          <h2>Books Guide</h2>
      </div>
    </div>

    <div class="row">
      <div class="col mt-2">
        <h3 class="text-center">Το καλάθι σας</h3>
        <table class="table table-bordered p-1">
          <thead>
            <tr>
              <th>Ποσότητα</th>
              <th>Προϊόν</th>
              <th class="text-right">Τιμή</th>
              <th class="text-right">Σύνολο</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="cart.lines.length == 0">
              <td colspan="4" class="text-center">
                Το καλάθι σας είναι άδειο
              </td>
            </tr>
            <tr *ngFor="let line of cart.lines">
              <td>
                <input type="number" class="form-control-sm"
                       style="width:4em"
                       [value]="line.quantity"
                       (change)="cart.updateQuantity(line.product,
                                  $event.target.value)" />
              </td>
              <td>{{line.product.name}}</td>
              <td class="text-right">
                {{line.product.price | currency:"EUR":"symbol"}}
              </td>
              <td class="text-right">
                {{(line.lineTotal) | currency:"EUR":"symbol"}}
              </td>
              <td class="text-center">
                <button class="btn btn-sm btn-danger"
                        (click)="cart.removeLine(line.product.id)">
                  Αφαίρεση
                </button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="3" class="text-right">Γενικό σύνολο
                :</td>
              <td class="text-right">
                {{cart.cartPrice | currency:"EUR":"symbol"}}
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col">
      <div class="text-center">
        <button class="btn btn-secondary m-1" routerLink="/store">
            Συνέχιση αγορών
        </button>
        <button class="btn btn-secondary m-1" routerLink="/checkout"
            [disabled]="cart.lines.length == 0 && connected">
          {{  connected ?  'Checkout' : 'Offline' }}
        </button>	
      </div>
    </div>
  </div>
  