<div class="form-check">
    <label class="form-check-label">
        <input type="checkbox" class="form-check-input" [(ngModel)]="includeShipped" />
        <p>Προβολή παραγγελιών που έχουν αποσταλεί</p>
    </label>
</div>

<p class="mt-2" *ngIf="getOrders().length == 0">Δεν υπάρχουν παραγγελίες</p>

<div class="container-fluid">
    <div class="card-deck">
        <ng-template ngFor let-o [ngForOf]="getOrders()" let-i="index">
            <div class="card bg-light">
                <div class="card-body text-left">
                    <h3>Παραγγελία {{i+1}}</h3>
                    <p>Όνομα: {{o.name}}<br>
                        Διεύθυνση: {{o.address}}<br>
                        Πόλη: {{o.city}}<br>
                        Τ.Κ.: {{o.zip}}<br>
                        Χώρα: {{o.country}}
                    </p>
                    <h4>Καλάθι παραγγελίας:</h4>
                    <ul>
                      <li *ngFor="let line of o.cart.lines">
                        {{line.product.name}} (ποσότητα: {{line.quantity}})
                      </li>
                    </ul>
                    
                    <button class="btn btn-sm btn-warning mr-2" (click)="markShipped(o)">
                      Αποστολή
                    </button>
                    <button class="btn btn-sm btn-danger" (click)="delete(o.id)">
                      Διαγραφή
                    </button>
                </div>
            </div>
        </ng-template>
    </div>
</div>
