<div class="form-check">
    <label class="form-check-label">
        <input type="checkbox" class="form-check-input" [(ngModel)]="includeShipped" />
            <p>Προβολή παραγγελιών που έχουν αποσταλεί</p>
    </label>
</div>

<p class="mt-2" *ngIf="getOrders().length == 0">Δεν υπάρχουν παραγγελίες</p>


<ng-template ngFor let-o [ngForOf]="getOrders()">
    <table class="table-sm mt-2">
        <tr>
          <th>Στοιχεία παραλήπτη:</th>
        </tr>
        <tr>
          <td>Όνομα: {{o.name}}, Διεύθυνση: {{o.address}}, Πόλη: {{o.address}}, Τ.Κ.: {{o.zip}}, Χώρα: {{o.country}}
          </td>
        </tr>
        <tr>
          <th>Προϊόντα παραγγελίας:</th>
        </tr>
        <tr *ngFor="let line of o.cart.lines">
            <td>Τίτλος: {{line.product.name}}, Ποσότητα: {{line.quantity}}</td>
        </tr>
      </table>
      <button class="btn btn-sm btn-warning mr-2" (click)="markShipped(o)">
        Αποστολή
      </button>
      <button class="btn btn-sm btn-danger" (click)="delete(o.id)">
        Διαγραφή
      </button>
      <hr>
</ng-template>
