<button class="btn btn-sm btn-primary mb-2" routerLink="/admin/main/products/create">
    Δημιουργία νέου προϊόντος
</button>

<div class="card-deck">
    <div class="card bg-light" *ngFor="let p of getProducts()">
        <div class="card-body text-left">
            <h3>Βιβλίο {{p.id}}</h3>
            <p>Όνομα: {{p.name}}<br>
                Κατηγορία: {{p.category}}<br>
                Τιμή: {{p.price | currency:"EUR":"symbol"}}<br>
                <img src="{{ p.imagePath }}" alt="image">
            </p>
            <button class="btn btn-sm btn-secondary mr-2"
                [routerLink]="['/admin/main/products/edit', p.id]">
                Επεξεργασία
            </button>
            <button class="btn btn-sm btn-danger" (click)="deleteProduct(p.id)">
                Διαγραφή
            </button>
        </div>
    </div>
</div>



