<div class="container-fluid">

    <div class="card-deck">
        <div class="card bg-light" *ngFor="let p of getProducts()">
            <div class="card-body text-left">
                <h3>Βιβλίο {{p.id}}</h3>
                <p>Όνομα: {{p.name}}<br>
                    Κατηγορία: {{p.category}}<br>
                    Τιμή: {{p.price | currency:"EUR":"symbol"}}
                </p>
                <button class="btn btn-sm btn-warning mr-2"
                    [routerLink]="['/admin/main/products/edit', p.id]">
                    Επεξεργασία
                </button>
                <button class="btn btn-sm btn-danger" (click)="deleteProduct(p.id)">
                    Διαγραφή
                </button>
            </div>
        </div>
    </div>

    <button class="btn btn-primary mb-2" routerLink="/admin/main/products/create">
        Δημιουργία νέου προϊόντος
    </button>

</div>

