h3 {
    font-size: 1rem;
}
p {
    font-size: 0.9rem;
}
li {
    font-size: 0.9rem;
}
.card-deck .card {
    margin-bottom: 1rem;
}
ul {
    padding-inline-start: 10px;
}

@media (min-width: 576px) {
    .card-deck .card {
        -ms-flex: 0 0 240px;
        flex: 0 0 240px;
    }
}

