<div style="color:#444; margin: 0.6rem; padding: 0.6rem; border: 1px solid #ccc; border-radius: 5px; line-height: 1.2;">
    <h3 style="padding-bottom: 0.4rem; border-bottom: 1px solid #ccc;">Bestsellers</h3>
    <img src="../../assets/images/bestsellers/to-dwro.jpg" alt="" [className]="'logo'">
    <div>Το Δώρο<br>Στέφανος Ξενάκης</div>
    <img src="../../assets/images/bestsellers/20-bimata-mprosta.jpg" alt="">
    <div>20 βήματα μπροστά<br>Jorge Bucay</div>
    <img src="../../assets/images/bestsellers/i-siopili-asthenis.jpg" alt="">
    <div>Η Σιωπηλή Ασθενής<br>Alex Michaelides</div>
    <img src="../../assets/images/bestsellers/taksidi-sti-benetia.jpg" alt="">
    <div>Ταξίδι στην Βενετία<br>Λένα Μαντά</div>
    <img src="../../assets/images/bestsellers/syntomes-apantiseis.jpg" alt="">
    <div>Σύντομες απαντήσεις στα μεγάλα ερωτήματα<br>Stephen Hawking</div>
</div>